# Environment Mode (development or production)
VITE_NODE_ENV=development

# Development Environment URLs
VITE_BACKEND_URL_DEV=http://localhost:5000

# Production Environment URLs
VITE_BACKEND_URL_PROD=https://api.cs2.team
